* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --white: #fff;
  --gray-100: #E1E1E6;
  --gray-300: #A8A8B3;
  --gray-800: #29292e;
  --gray-900: #1F2729;
  --black: #121414;
  --yellow: #ECA318;
  --pink: #F6A9A9;
  --green: #24B472;
}

html{
  @media (max-width: 1080px) {
      font-size: 93.75% // 15px
  }
  @media (max-width: 720px) {
      font-size: 87.5% // 14px
  }
}

body{
  background: var(--black);
  color: var(--white);
}

body, input, select, textarea, button {
  font: 400 100% 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

